TUDP/Client/__pycache__/network_handler.cpython-313.pyc
TUDP/Client/__pycache__/gui.cpython-313.pyc
TUDP/Client/__pycache__/file_transfer_handler.cpython-313.pyc
TUDP/Client/__pycache__/app.cpython-313.pyc
TUDP/.idea/TUDP.iml
TUDP/.idea/misc.xml
TUDP/.idea/dataSources.xml
TUDP/.idea/TUDP.iml
TUDP/.idea/misc.xml
TUDP/.idea/dataSources.xml
/TUDP/.idea
TUDP/.idea/TUDP.iml
*.xml
*.xml
TUDP/.idea/dataSources.xml
TUDP/.idea/misc.xml
TUDP/.idea/TUDP.iml
